<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" href="/stylesheets/navbarstyle.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="#" class="brand">BrandName</a>
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
